---
import Layout from "../../layouts/Layout.astro";
import IndexContent from "../../components/IndexContent.astro";
---

<Layout title="The Way and its Virtue | Read">
  <main class="pt-10"><IndexContent /></main>
</Layout>
