:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
html {
  font-family: "Noto Serif SC", system-ui, serif;
  height: 100vh;
  background-color: #e4e5f1;
  color: #484b6a;
  transition: background-color 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

html.dark {
  background-color: #121212;
  color: #f8f6f6;
}

.dark .nav-links a {
  color: #fff;
}

.dark #enso {
  filter: invert(1);
  mix-blend-mode: color-dodge;
}
