---
import Layout from "../layouts/Layout.astro";
import IndexHero from "../components/IndexHero.astro";
import IndexContent from "../components/IndexContent.astro";
---

<Layout
  title="The Way and its Virtue | A Comparitive Reader for the Tao Te Ching"
>
  <div class="px-12">
    <IndexHero />
    <IndexContent />
  </div>
</Layout>
