---
import { Icon } from "astro-icon/components";

const {
  translationCode,
  chapterNumber,
  chapterName,
  chapterContent,
  comparisonMode,
} = Astro.props;
---

<section
  class=`${translationCode}-chapter ${translationCode}-${chapterNumber}  grid grid-cols-1 ${comparisonMode ? 'mx-auto' : 'sm:gap-24 sm:grid-cols-[auto_1fr] sm:grid-rows-1'} font-[300] group w-full  grid-rows-[auto_1fr] max-w-[80vw]`
>
  <div class="chapter-bar items-center flex flex-col justify-start">
    <h2 class="mb-6 text-xl">{chapterNumber}</h2>
    <div
      class="icons flex gap-2 flex-col opacity-0 group-hover:opacity-85 ease-linear transition-all"
    >
      <Icon
        size={22}
        name="compare"
        class="icon-wrapper opacity-40 hover:opacity-100 ease-linear transition-all"
      />
      <Icon
        size={22}
        name="share"
        class="icon-wrapper opacity-40 hover:opacity-100 ease-linear transition-all"
      />
      <Icon
        size={22}
        name="copy"
        class="icon-wrapper opacity-40 hover:opacity-100 ease-linear transition-all"
      />
    </div>
  </div>
  <div class="chapter-markdown-container flex flex-col gap-4 mb-10">
    <slot />
  </div>
</section>

<style is:global>
  .chapter-markdown-container {
    font-family: "Noto Serif Variable";
    white-space-collapse: preserve-breaks;
  }

  .chapter-markdown-container blockquote {
    border-left: 4px solid gray;
    padding-left: 10px;
    width: 75%;
    white-space-collapse: collapse;
  }

  .lao-chapter .chapter-markdown-container {
    writing-mode: vertical-rl; /* Sets the text in a vertical writing mode */
    text-orientation: upright; /* Ensures characters are oriented upright */
    overflow-wrap: break-word; /* Allows the text to break and wrap to the next line */
    word-wrap: break-word; /* Breaks words to prevent overflow */
  }

  section:not(.lao-chapter) .chapter-markdown-container p {
    max-width: 65ch;
  }

  section:not(.lao-chapter)
    .chapter-markdown-container
    > p:first-of-type::first-letter {
    font-weight: 400;
    font-size: 21px;
    padding-right: 0.75px;
  }
</style>
