---
import { Icon } from "astro-icon/components";

const { translationCode, chapterNumber, comparisonMode } = Astro.props;
---

<div
  class=`chapter-bar flex sm:items-center mb-6 justify-start ${comparisonMode ? 'flex-row  gap-6' : 'gap-6 flex-row sm:flex-col'}`
>
  <h2 class=`text-xl`>{chapterNumber}</h2>
  <div
    class=`icons-container items-center flex gap-2 ${comparisonMode ? 'flex-row' : 'flex-row sm:flex-col '} opacity-0 group-hover:opacity-85 ease-linear transition-all`
  >
    <a href={`/compare/${chapterNumber}`}>
      <Icon
        size={22}
        name="compare"
        class="transition-all ease-linear icon-wrapper opacity-40 hover:opacity-100"
      />
    </a>
    <Icon
      size={22}
      name="share"
      class="transition-all ease-linear share-btn icon-wrapper opacity-40 hover:opacity-100"
    />
    <Icon
      size={22}
      name="copy"
      class="transition-all ease-linear icon-wrapper opacity-40 hover:opacity-100"
    />
  </div>
</div>
<script>
  const shareButton = document.querySelectorAll(".share-btn");
  console.log(shareButton);
  shareButton.forEach((button) => {
    button.addEventListener("click", () => {
      alert("Button was clicked!");
    });
  });
</script>
<style>
  .icons-container:has(a:focus) {
    opacity: 1;
  }
</style>