---
import TranslationsIndex from "./TranslationsIndex.astro";
---

<section class="flex sm:flex-row flex-col gap-10">
  <h1 class="text-2xl font-bold basis-1/3 min-w-[250px]">
    To aid in the reading and comparison between translations, we've compiled
    several versions spanning over 100 years.
  </h1>
  <div class="grow" id="read">
    <TranslationsIndex />
  </div>
</section>
