<ul>
  <li>
    <a
      href="/classical-chinese"
      class="flex p-4 justify-between border-b border-gray-300"
    >
      <div>Foobar</div>
      <div>1983</div>
    </a>
  </li>
  <li>
    <a
      href="/classical-chinese"
      class="flex p-4 justify-between border-b border-gray-300"
    >
      <div>Foobar</div>
      <div>1983</div>
    </a>
  </li>
  <li>
    <a
      href="/classical-chinese"
      class="flex p-4 justify-between border-b border-gray-300"
    >
      <div>Foobar</div>
      <div>1983</div>
    </a>
  </li>
  <li>
    <a
      href="/classical-chinese"
      class="flex p-4 justify-between border-b border-gray-300"
    >
      <div>Foobar</div>
      <div>1983</div>
    </a>
  </li>
</ul>

<style>
  li:first-child a {
    border-top-width: 1px;
  }
</style>
