---
import codes, {
  translatorNamesByCode,
  translationYearsByCode,
} from "../data/codes";

const translations = codes.map((code) => ({
  slug: code,
  name: translatorNamesByCode[code],
  year: translationYearsByCode[code],
}));
---

<ul>
  {
    translations
      .sort((a, b) => (a.year < b.year ? 1 : -1))
      .map((translation) => (
        <li>
          <a
            href={"/read/" + translation.slug}
            class="flex justify-between p-4 border-b border-gray-300"
          >
            <div>{translation.name}</div>
            <div>
              {translation.year === -400 ? "~400 BCE" : translation.year}
            </div>
          </a>
        </li>
      ))
  }
  <li>
    <a
      href="/compare/all"
      data-astro-prefetch="viewport"
      class="flex justify-between p-4 border-b border-gray-300"
    >
      <div>Compare all translations</div>
    </a>
  </li>
</ul>

<style>
  ul:hover a {
    transition: ease;

    opacity: 0.5;
  }

  ul a:hover {
    transition: ease;

    opacity: 1 !important;
  }

  ul a {
    transition: ease;
  }

  li:first-child a {
    border-top-width: 1px;
  }
</style>
