---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "@fontsource-variable/noto-serif";
import "@fontsource-variable/noto-serif-hk";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <script src="/lib/theme-util.js" type="text/javascript" is:inline></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="grain-overlay"></div>
    <Header />
    <main>
      <slot />
    </main>
    <style>
      .grain-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: url(/grain-uniform.png);
        background-image: url(/grain.png);
        background-repeat: repeat;
        background-size: 150px;
        opacity: 0.1;
        z-index: 999;
      }
    </style>
    <Footer />
  </body>
</html>
